

<div>
    <h1 class="text-info">Confirmacion</h1>
    <p>Hemos recibido tu consulta. Un miembro de nuestro equipo se contactara pronto contigo</p>
    <img src="/imagenes/patio.jpg" width="80%"/>
</div>



