@model IEnumerable<sistemcommerce.Models.Categoria>
@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="container p-3">
    <div class="row pt-4">
        <div class="col-6">
            <h2 class="text-primary">Lista de Categorias</h2>
        </div>
        <div class="col-6 text-end">
          <a asp-controller="Categoria" asp-action="Crear" class="btn btn-primary">
              <i class="fas fa-plus"></i> Nueva categoria</a>
        </div>
    </div>
    <br />

    @if (Model.Count() > 0)
    {
        <table class="table table-bordered table-striped " style="width:100%">
            <thead>
                <tr>
                    <th>
                         Nombre Categoria
                    </th>
                    <th>
                        Orden
                    </th>
                    <th>
                       
                    </th>
                </tr>   
            </thead>
            <tbody>
                @foreach (var item in Model)
                {
                    <tr>
                        <th width="50%">@item.NombreCategoria</th>
                        <th width="30%">@item.MostrarOrden</th>
                        <th class="text-center">
                            <div class="w-75 btn-group" role="group">
    <a asp-controller="Categoria" asp-action="Editar" class="btn btn-primary mx-2" asp-route-Id="@item.Id">
                                    <i class="fas fa-edit"></i>  
                                </a>
    <a asp-controller="Categoria" asp-action="Eliminar" class="btn btn-danger mx-2" asp-route-Id="@item.Id">
                                    <i class="fas fa-trash-alt"></i>  
                                </a>

                            </div>

                        </th>
                    </tr>
                }
            </tbody>
        </table>
    }
    else
    {
        <p>No hay registros de Categoria</p>
    }
</div>